version: "3.8"

services:
  hello:
    image: nginxdemos/hello
{% raw %}
    hostname: "hello-{{ .Task.Slot }}"
{% endraw %}
    environment:
      - "SOME_HOME={{ home_dir }}"
    deploy:
      mode: replicated
      replicas: {{ replica_count }}
      update_config:
        order: stop-first
        parallelism: 1
      rollback_config:
        order: stop-first
        parallelism: 1
    ports:
      - {{ outside_port }}:80